<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Changes in Lang Files Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        .invisible-link {
            opacity: 0;
            text-decoration: none;
            color: inherit;
        }

        .invisible-link:hover {
            opacity: 1;
        }
    </style>
</head>
<body class="container">

<table class="table table-hover table-striped table-bordered small">
    <thead>
    <tr>
        <th scope="col">Lang<br/>Relative Path</th>
        <th scope="col">EN<br/>Status</th>
        <th scope="col">EN<br/>Updates</th>
        <th scope="col">Lang<br/>PR</th>
    </tr>
    </thead>
    <tbody>
    {{range .TableModel.Files}}
    <tr>
        <td>
            <span class="text-nowrap">
                <a href="{{ .LangRelPath.URL }}">{{ .LangRelPath.Text }}</a>
                <a href="{{ .LangFilenameLink.URL }}" class="invisible-link">&nbsp;#&nbsp;</a>
            </span>
            <br/>
            {{ if .LangMergeCommit }}
            Merge Commit: {{ truncate .LangMergeCommit.DateTime 10 }}
            <br/>
            {{ end }}
            Last Commit: {{ truncate .LangLastCommit.DateTime 10 }}
            {{ if .LangForkCommit }}
            <br/>
            Fork Commit: {{ truncate .LangForkCommit.DateTime 10 }}
            {{ end }}
        </td>
        <td>{{ .ENStatus }}</td>
        <td>
            {{ if .ENUpdates.AfterMergeCommit }}
            After Lang Merge Commit:
            <ul>
                {{range .ENUpdates.AfterMergeCommit}}
                <li>
                    Commit: <a href="{{ .Commit.Link.URL }}">{{ .Commit.CommitInfo.Comment }}</a> {{ truncate .Commit.CommitInfo.DateTime 10 }}
                    {{ if .MergeCommit }}
                    <br/>
                    Merge Commit: <a href="{{ .MergeCommit.Link.URL }}">{{ .MergeCommit.CommitInfo.Comment }}</a> {{ truncate .MergeCommit.CommitInfo.DateTime 10 }}
                    {{ end }}
                </li>
                {{end}}
            </ul>
            {{end}}

            {{ if .ENUpdates.AfterLastCommit }}
            After Lang Last Commit:
            <ul>
                {{range .ENUpdates.AfterLastCommit}}
                <li>
                    Commit: <a href="{{ .Commit.Link.URL }}">{{ .Commit.CommitInfo.Comment }}</a> {{ truncate .Commit.CommitInfo.DateTime 10 }}
                    {{ if .MergeCommit }}
                    <br/>
                    Merge Commit: <a href="{{ .MergeCommit.Link.URL }}">{{ .MergeCommit.CommitInfo.Comment }}</a> {{ truncate .MergeCommit.CommitInfo.DateTime 10 }}
                    {{ end }}
                </li>
                {{end}}
            </ul>
            {{end}}

            {{ if .ENUpdates.AfterForkCommit }}
            After Lang Fork Commit:
            <ul>
                {{range .ENUpdates.AfterForkCommit}}
                <li>
                    Commit: <a href="{{ .Commit.Link.URL }}">{{ .Commit.CommitInfo.Comment }}</a> {{ truncate .Commit.CommitInfo.DateTime 10 }}
                    {{ if .MergeCommit }}
                    <br/>
                    Merge Commit: <a href="{{ .MergeCommit.Link.URL }}">{{ .MergeCommit.CommitInfo.Comment }}</a> {{ truncate .MergeCommit.CommitInfo.DateTime 10 }}
                    {{ end }}
                </li>
                {{end}}
            </ul>
            {{end}}

            {{ if .ENUpdates.BeforeForkCommit }}
            Before Lang Fork Commit:
            <ul>
                {{range .ENUpdates.BeforeForkCommit}}
                <li>
                    Commit: <a href="{{ .Commit.Link.URL }}">{{ .Commit.CommitInfo.Comment }}</a> {{ truncate .Commit.CommitInfo.DateTime 10 }}
                    {{ if .MergeCommit }}
                    <br/>
                    Merge Commit: <a href="{{ .MergeCommit.Link.URL }}">{{ .MergeCommit.CommitInfo.Comment }}</a> {{ truncate .MergeCommit.CommitInfo.DateTime 10 }}
                    {{ end }}
                </li>
                {{end}}
            </ul>
            {{end}}
        </td>
        <td>
            <ul>
                {{range .PRs}}
                <li>
                    <a href="{{ .URL }}">{{ .Text }}</a>
                </li>
                {{end}}
            </ul>
        </td>
    </tr>
    {{end}}
    </tbody>
</table>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>
